{% extends 'onlineclients/layouts/base.html' %}
{% block title %}List{% endblock %}

{% block content %}
	<div style="margin-top: 75px">
		<div class="container">
			<div class="row">
				<h3 class="page-header">List</h3>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<button class="btn btn-primary">Novo Cliente</button>
			</div>
		</div>
		<hr>
		<div class="container">
			<div class="row">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>#</th>
							<th>First Name</th>
							<th>Last Name</th>
							<th>Username</th>
						</tr>
					</thead>
					<tbody>
						{% for pessoa in object_list %}
						<tr>
							<th scope="row">{{ pessoa.idpessoa }}</th>
							<td>{{ pessoa.nome }}</td>
						</tr>
						{% empty %}
							<tr>
								<td>Sem pessoas.</td>	
							</tr>
						{% endfor %}
					</tbody>
				</table>
	    	</div>
		</div>
	</div>
{% endblock %}